################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/NdiFullscreenPlayer/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/bin/Debug/net472
/obj
/Installer/AppPackages
/Installer/bin/x64/Debug
/Installer/BundleArtifacts
/Installer/obj
